.rechargePage {
    ion-toolbar {

        --border-style: none;
        --border-color: transparent;
        --padding-start: 1rem;
        --padding-end: 1rem;
        --background: #a700ff;

        ion-router-link {
            color: white;
            font-size: 20px;
        }
    }

    .rechargeContainer {
        min-height: 100%;
        position: relative;
        background-color: #ffffff;
        background-image: radial-gradient(#b8b8b8 1px, transparent 1px),
            radial-gradient(#b8b8b8 1px, #ffffff 1px);
        background-size: 40px 40px;
        background-position: 0 0, 20px 20px;
        padding: 30px 10px;

        .rechargeHeading {
            background: #fcedff;
            border-radius: 10px;

            span {
                border-radius: 50%;
                background: #a700ff;
                color: white;
                font-weight: bold;
                font-size: 20px;
                display: inline-block;
                width: 50px;
                height: 50px;
                text-align: center;
                line-height: 50px;
            }
        }

        .rechargeContent {
            background: #fcedff;
            margin: 20px 0 0 0;
            border-radius: 10px;

            ion-card-content {
                background: white;

                .rechargeRecordItem {
                    border-bottom: 1px solid;

                    p.recordNumber {
                        color: black;
                        font-size: 16px;
                    }

                    .recordStatus {
                        border-radius: 20px;
                        background: blue;
                        color: white;
                        padding: 0 5px;
                    }

                    .recordAmount {
                        font-size: 16px;
                        color: green;
                        font-weight: bold;
                    }

                    .recordDate {
                        color: black !important;
                        opacity: 1 !important;
                        padding: 0;
                    }
                }
            }
        }
    }

}