.signupPage {

    ion-toolbar {
        --border-style: none;
        --border-color: transparent;
        --padding-start: 1rem;
        --padding-end: 1rem;
        --background: #a700ff;
    }

    ion-img {
        width: 100px;
        height: 100px;
        border-radius: 20px;
        border: 2px solid #a700ff;
        overflow: hidden;
    }
}

ion-content {
    --background: #fcedff;
}

.headingText {
    display: flex;
    flex-direction: column;
    align-items: center;

    h5 {
        margin-top: 2rem;
        color: #a700ff;
        font-size: 1rem;
    }
}

ion-footer {
    background: white;
}