.orderPage {
    ion-toolbar {

        --border-style: none;
        --border-color: transparent;
        // --padding-top: 1rem;
        // --padding-bottom: 1rem;
        --padding-start: 1rem;
        --padding-end: 1rem;
        --background: #a700ff;
    }

    .orderContainer {
        min-height: 100%;
        position: relative;
        background-color: #ffffff;
        background-image: radial-gradient(#b8b8b8 1px, transparent 1px),
            radial-gradient(#b8b8b8 1px, #ffffff 1px);
        background-size: 40px 40px;
        background-position: 0 0, 20px 20px;
        padding: 30px 10px;

        .orderHeading {
            background: #fcedff;
            border-radius: 10px;

            span {
                border-radius: 10px;
                background: #a700ff;
                color: white;
                font-weight: bold;
                font-size: 16px;
                text-align: center;
                padding: 0 10px;
                margin: 0 5px;
            }

            span.orderSelected {
                background: #00189a;
            }

            p {
                font-size: 16px;
                color: black;
                text-alig: center;
            }
        }

        .orderContent {
            background: #fcedff;
            margin: 20px 0 0 0;
            border-radius: 10px;
            padding: 0 5px 5px 5px;

            .orderProductDetail {
                color: black;
            }
        }

        .orderDate {
            color: black;
            opacity: 1 !important;
            padding-left: 0 !important;
        }

        .orderStatusBtnContent {
            align-items: center;
            display: flex;
            justify-content: end;

            .orderStatusBtn {
                color: black;
                border-radius: 20px;
                background: yellow;
                padding: 2px 10px;
            }
        }
    }


    ion-footer {

        background-color: #a700ff;
        color: white;

        ion-icon {
            font-size: 24px;
            color: white;
        }
    }
}